/* Font using Google fonts name: Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* More using codes */
h1 {
    font-size: 65px;
    font-weight: 700;
    color: #131313;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

p.para {
    font-size: 16px;
    color: #727272;
    font-weight: 400;
    line-height: 26px;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    margin-top: 35px;
    transition: .5s;
}

.btn:hover {
    color: #000;
}

li {
    list-style: none;
}

li > a {
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    text-decoration: none;
    transition: .5s;
}

/* custom css start */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
}

/* header area start */
.header_area {
    padding: 15px 240px;
    /* background: rgba(255, 144, 14, 0.10); */
    background-color: rgb(129, 129, 129, 0.50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_area ul {
    display: flex;
}

.nav_area ul li {
    margin-right: 45px;
}
    
.nav_area ul li:nth-child(4) {
    margin-right: 0px;
}

.nav_area ul li:hover a {
    color: red;
}

/* brand area start */
.brand_area {
    padding: 40px 20px;
    text-align: center;
    background: rgba(255, 144, 14, 0.10);
    padding: 0px 240px;
    padding-top: 50px;
}

.brand_content {
    max-width: 862px;
    margin: 0 auto;
}

.brand_content h1 {
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 20px;
}

.brand_img img {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 30px;
}

/* our features area start */
.our_features {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px 240px;
}

.our_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our_images img {
    /* width: 100%; */
    width: 260px;
}

.quick_list {
    color: #727272;
    font-weight: 500;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

.our_content p {
    font-size: 16px;
    margin-top: 10px;
}

.our_content .btn {
    margin-top: 30px;
}

/* enjoy features area start */
.enjoy_features {
    display: flex;
    padding: 50px 240px 10px 240px;
    justify-content: space-between;
    gap: 50px;
    overflow: hidden;
}

.enjoy_content .enjoy_title {
    color: #131313;
}

.enjoy_content {
    width: 586px;
}

.enjoy_content p {
    color: #727272;
    font-size: 13px;
    margin: 15px 0;
    line-height: 20px;
}

.enjoy_box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 15px;
}

.enjoy_box .enjoy_sub_title {
    font-size: 20px;
    font-weight: 600;
}

.enjoy_box p {
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
}

.enjoy_img img {
    width: 100%;
    margin-left: 30px;
}

.experience_content {
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    padding: 45px 42px;
    width: 256px;
    position: relative;
    top: -80px;
    right: 20px;
}

.experience_content h1 {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 30px;
}

.experience_content .experience_span {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}

/* some facts area start */
.some_facts {
    padding: 20px 240px;
}

.some_content {
    margin-bottom: 50px;
}

.some_content p.para {
    width: 542px;
}

.some_cards {
    display: flex;
    justify-content: space-around
}

.some_card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 150px;
    padding: 30px 30px;
    text-align: center;
}

.some_img {
    width: 45px;
    height: 45px;
}

.some_card h4 {
    color: #727272;
} 

/* our sponsors area start */
.our_sponsors {
    padding: 50px 240px;
}

.our_contents {
    text-align: center;
    margin-bottom: 70px;
}

.our_contents .our_content_title {
    margin-bottom: 15px;
}

.our_sponsors_company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our_sponsors_company img {
    width: 100px;
}










/* Responsive website viewport devices */

/* Mobile or small screen devices */
@media screen and (max-width: 576px) {
    .header_area {
        padding: 25px 30px;
        flex-direction: column;
        align-items: center;
    }

    .header_area h2 {
        margin-bottom: 15px;
        font-size: 35px;
    }

    .nav_area ul {
        text-align: center;
    }

    .nav_area ul li {
        margin: 0px 10px;
    }

    li > a {
        font-size: 16px;
    }

    .brand_area {
        padding: 0px 10px;
        padding-top: 20px;
    }
    
    .brand_content h1 {
        font-size: 33px;
        line-height: 42px;
    }

    p.para {
        font-size: 15px;
        line-height: 24px;
    }

    .btn {
        font-size: 16px;
        padding: 14px 25px;
    }

    .brand_img img {
        margin-top: 30px;
    }

    .our_features {
        flex-direction: column-reverse;
        padding: 50px 10px;
    }

    .our_images img {
        width: 100%;
    }

    .enjoy_features {
        flex-direction: column;
        padding: 10px 10px;
    }

    .enjoy_content .enjoy_title {
        font-size: 35px;
    }

    .enjoy_content p.para {
        font-size: 12px;
    }

    .enjoy_box {
        padding: 15px;
    }

    .enjoy_content, .enjoy_img {
        width: 100%;
    }

    .enjoy_img {
        text-align: center;
    }

    .enjoy_img img {
        width: 100%;
        margin-left: 0px;
    }

    .experience_content {
        text-align: center;
        padding: 35px 40px;
        width: 50%;
        top: -80px;
        margin-right: 9%;
        margin-left: auto;
    }

    .experience_content h1 {
        font-size: 45px;
    }

    .some_facts {
        padding: 20px 10px;
    }

    .some_content_title {
        font-size: 35px;
        margin-bottom: 5px;
    }

    .some_content p.para {
        width: 100%;
        font-size: 13px;
        line-height: 20px;
    }

    .some_cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .some_card {
        width: 50%;
        padding: 35px 35px;
        margin-bottom: 20px;
    }

    .our_sponsors {
        padding: 10px 10px;
    }

    .our_sponsors_company {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .our_sponsors_company img {
        width: 75%;
    }

    h2.our_content_title {
        margin-bottom: 20px;
    }
}

/* Tablet or medium screen devices */
@media screen and (min-width: 576.01px) and (max-width: 992px) {
    .header_area {
        padding: 20px 40px;
    }

    .header_area h2 {
        font-size: 40px;
    }
    
    .nav_area ul li:nth-child(4) {
        margin-right: 0px;
    }

    .brand_area {
        padding: 0px 40px;
    }

    .brand_content h1 {
        font-size: 50px;
        line-height: 60px;
        padding-top: 20px;
    }

    p.para {
        font-size: 15px;
        line-height: 25px;
    }

    .btn {
        font-size: 18px;
        padding: 15px 25px;
    }

    .brand_img img {
        margin-top: 35px;
    }

    .our_features {
        flex-direction: column-reverse;
        padding: 50px 40px;
    }

    .our_images {
        width: 100%;
    }

    .our_images img {
        width: 100%;
    }

    .enjoy_features {
        flex-direction: column;
        padding: 30px 40px;
    }

    .enjoy_content .enjoy_title {
        font-size: 35px;
    }

    .enjoy_content p.para {
        font-size: 12px;
    }

    .enjoy_box {
        padding: 25px;
        margin-bottom: 15px;
    }

    .enjoy_content, .enjoy_img {
        width: 100%;
    }

    .enjoy_img {
        text-align: center;
    }

    .enjoy_img img {
        width: 100%;
        margin-left: 0px;
    }

    .experience_content {
        text-align: center;
        padding: 35px 40px;
        width: 50%;
        top: -80px;
        margin-right: 18%;
        margin-left: auto;
    }

    .experience_content h1 {
        font-size: 45px;
    }

    .some_facts {
        padding: 0px 40px;
    }

    .some_content_title {
        font-size: 35px;
        margin-bottom: 5px;
    }

    .some_content p.para {
        width: 100%;
        font-size: 13px;
        line-height: 20px;
    }

    .some_cards {
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    h2.some_card_title {
        font-size: 35px;
    }

    .some_card h4 {
        color: #727272;
        font-size: 12px;
    }

    .our_content p.para {
        font-size: 14px;
    }

    .our_sponsors {
        padding: 50px 40px;
    }
    
    .our_sponsors .our_contents {
        text-align: center;
        margin-bottom: 40px;
    }

    .our_sponsors_company img {
        width: 100px;
    }
}